<!DOCTYPE html>
<html>
<head>
	<link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
	<link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css" rel="stylesheet">
	<link href="spaces.css" rel="stylesheet">
	<title></title>
</head>
<body>
  <section>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li>
            <a href="/"><img alt="" src="https:/boostandco.com/wp-content/uploads/Makers-1.png"></a>
          </li>
        </ul>
        <ul class="pull-right">
          <li>
            <a href="#">Spaces</a>
          </li>
          <li style="list-style: none">|</li>
          <li><a href="#">Requests</a></li>
          <li style="list-style: none">|</li>
          <li>
            <a href="/front-end/log-in.html">Sign Out</a>
            <form action="/sign-out" method="post">
              <input type="submit" value="Sign out" />
            </form>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="hero">
    <h2>Book a Space</h2>
    <p>A beachfront property or a cabin in the forest?</p>
    <p>Whatever you want, you'll find it here.</p>
    <button><a href="/front-end/list-space.html">List a Space</a></button><br><br><br>
    <div class="dates">
      <label for="from">Available from:</label>
      <input type="date" id="from" name="from">
      <label for="to">Available to:</label>
      <input type="date" id="to" name="to"> 
        <select id="selection" name="selection">
          <% @spaces.map do |space| %>
          <option value="ed">Select your dream space</option>
          <option value="ed">Westmoreland Castle, Edinburgh</option>
          <option value="dev">132 Forest Road, Devon</option>
          <option value="shack">Shack in the Woods (are you sure?!)</option>
          <option value="ches">House Upon The Hills, Chesire</option>
          <option value="ldn">London Townhouse, Mayfair</option>
          <% end %>
        </select>
        <button>Submit</button>
      <br><br><br>
    </div>
  </section>
  <section class="listings">
  <ul>
    <% @spaces.map do |space| %>
        <h4><%= space.name %> - £<%= space.price %></h4>
        <p class="bio"><%= space.description %></p>
    <% end %>
  </ul>
  <section>
</body>
</html>