<h2>Sign in</h2>
  <h4>
    <%= flash[:notice] %>
  </h4>


<form action="/log-in" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Login" />
</form>



 