<body>
<h1><h1>Paradise On Earth!</h1>
<h2>Sign up to MakersBnB</h2>
<form action="/sign_up" method="post">
  <label for="email">
    Email Address
    <input type="text" name="email">
  </label>
  <label for="password">
    Password
    <input type="text" name="password">
  </label>
  <label for="confirm_password">
    Confirm Password
    <input type="text" name="confirm_password">
  </label>
  <input type="submit" value="Sign Up">
</form>
</body>