<!DOCTYPE html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css" rel="stylesheet">
    <link href="<%= url('/homepage.css') %>" rel="stylesheet" type="text/css" />
    <title></title>
  </head>
    <section>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li>
            <a href="/"><img alt="" src="https:/boostandco.com/wp-content/uploads/Makers-1.png"></a>
          </li>
        </ul>
        <ul class="pull-right">
          <li>
            <a href="#">About</a>
          </li>
          <li style="list-style: none">|</li>
          <li>
            <a href="/log-in">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <body>
    <section class="hero">
      <div class="form">
        <h2>Sign up to MakersBnB</h2><br>
        <form action="/sign-up" method="post">
          <label for="email">Email Address<input type="email" name="email" required="" /></label><br>
          <label for="password">Password<input type="password" name="password" required="" /></label><br>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </section>
  </body>
</html>

